/PayBro/dist/
/PayBro/build/
/payBro1.0/nbproject/private/
/payBro1.0/payBro1.0-war/nbproject/private/
/payBro1.0/payBro1.0-ejb/nbproject/private/
/payBro1.0/dist/
/payBro1.0/build/
/payBro1.0/payBro1.0-ejb/build/
/payBro1.0/payBro1.0-ejb/dist/
/payBro1.0/payBro1.0-war/dist/
/payBro1.0/payBro1.0-war/build/